* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;
  
    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
  }

nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
}
  
nav .nav-items a {
    margin: 0 1rem;
}

.formContainer h1{
  text-align: center;
  margin-top: 2rem;
}

.formContainer form{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  padding: 1.5rem;

}

.formContainer input{
  padding: .5rem;
}

.formContainer button{
  background-color:black;
    color: white;
    width: 7rem;
    padding: .5rem;
    float: left;

}